#found {
    -fx-background-color: linear-gradient(to bottom, #ff9a9e, #fad0c4);
    -fx-padding: 40px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

#title {
    -fx-font-size: 26px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#textField {
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: white;
}

#button {
    -fx-background-color: #ff6b6b;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

#button:hover {
    -fx-background-color: #DA5D5D;
}

#link {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

#comboBox {
    -fx-background-color: white;
    -fx-border-color: #DA5D5D;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-padding: 6 10;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-pref-height: 36px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 6, 0.3, 0, 2);
}

.producto {
    -fx-background-color: #e0e0e0;
    -fx-padding: 10px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 6, 0.3, 0, 2);
}

.producto .label-titulo {
    -fx-font-weight: bold;
}

.producto .label-precio {
    -fx-font-size: 14px;
}


.perfil-root {
    -fx-background-color: linear-gradient(to bottom, #ffe1e1, #ffffff);
    -fx-padding: 40px;
    -fx-spacing: 30px;
    -fx-alignment: center;
}

.perfil-titulo {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.4, 2, 2);
}

.perfil-imagen {
    -fx-border-color: #bbbbbb;
    -fx-border-width: 2;
    -fx-border-radius: 75;
    -fx-background-radius: 75;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0.5, 0, 2);
}

.perfil-label-clave {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: #444444;
}

.perfil-label-valor {
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
}

.perfil-compras {
    -fx-background-color: #f9f9f9;
    -fx-padding: 20px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 6, 0.3, 0, 2);
}

.perfil-compras Label {
    -fx-font-size: 14px;
    -fx-text-fill: #444444;
}


